@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css';

:root {
	--dark-red: #720813;
	--red: #d91023;
	--light-red: #f25464;
	--dark-blue: #01567a;
	--blue: #019dde;
	--light-blue: #48c9fe;
	--dark-yellow: #784703;
	--yellow: #fa9d1b;
	--light-yellow: #fbb24b;
	--black: #3d3d3d;
}

body {
	font-family: 'Inter', sans-serif;
}

.title-font {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}

.is-primary {
	background-color: var(--red) !important;
	color: white !important;
}

.is-secondary {
	background-color: var(--black) !important;
	color: white !important;
}
